/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
}

* {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* ======== Begin CSS! :) ======== */

/* -- Hero section -- */
.hero {
    background-color: #1f2937;
    height: 600px;
    padding: 10px;
}

.nav-bar, .nav-bar ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    max-width: 1080px;
}

.nav-bar h2 {
    font-size: 24px;
    color: #F9FAF8;
}

.nav-bar ul {
    margin-right: 2px;
    gap: 16px;
    color: #E5E7EB;
}

.hero-content {
    display: flex;
    margin-top: 110px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1080px;
}

.hero-content h1 {
    font-size: 48px;
    font-weight: 800px;
    color: #F9FAF8
}

.hero-content p {
    max-width: 450px;
    font-size: 18px;
    color: #F9FAF8;
    margin-top: 20px;
}

.hero-content .text h1 > .awesome {
    display: flex;
    line-height: 0.8;
    font-size: 48px;
    font-weight: 800px;
    color: #F9FAF8;
}

.rectangle {
    display: flex;
    height: 265px;
    width: 500px;
    background-color: #555;
    margin-left: auto;
}

.sign-up {
    height: 40px;
    width: 132px;
    margin-top: 10px;
    border-radius: 8px;
    border-style: none;
    background-color: #3882f6;
    font-size: 18px;
    color: #F9FAF8;
    font-weight: bold;
}

/* -- Mid section -- */
.mid-section {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    max-width: 1080px;
}

.mid-section h2 {
    text-align: center;
    margin: 35px 0;
    font-size: 36px;
    font-weight: 800;
}

.mid-images {
    display: flex;
    gap: 50px;
    margin-left: 150px;
}

.box {
    height: 150px;
    width: 150px;
    border: 4px solid #3882f6;
    border-radius: 8px;
}

.mid-section p {
    width: 150px;
    text-align: center;
    margin-top: 4px;
}

/* -- Quotation section -- */
.quote-section {
    height: 450px;
    background-color: #E5E7EB;
    margin-top: 80px;
}

.content {
    width: 900px;
    margin: 0 auto;
    padding: 80px;
}

.quote {
    font-size: 28px;
    font-style: italic;
    font-weight: 100;
    color: #1f2937;

}

.mj {
    display: flex;
    justify-content: flex-end;
    margin: 10px;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    color: #1f2937;
    margin-top: 0;
}
